body{
    margin: 0px;
    background-color: beige;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
button{
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;

}
.page-nave{
    background-color: #F5B7B1;
    border: 1px solid black;
    position: relative;
}
.page-nave h1{
    margin: 20px;

}
.button-checkout{
    background-color: white;
    color: black;
    border: 2px solid #008CBA;; /* Blue */
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 15px;

}
.button-checkout {
    background-color: #008CBA; /* Blue*/
    color: white;
}