body{
    margin: 0px;
    background-color: beige;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
button{
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;

}