*{
    margin: 340;
    padding: 340;
    box-sizing: border-box;
}
body{
    background-color: #F5B7B1;
}
.form-register{
    width: 400px;
    background: white;
    padding: 30px;
    margin: auto;
    margin-top: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:  #F5B7B1;
}