*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color:#ffff
 }
 .Galeria{
    font-family: 'open' sans-serif;
}
.Galeria h2{
    text-align: center;
    margin: 20px 0 15px 0;
    font-weight: 300;
    color: #F5B7B1;
}
.linea{
    border-top: 5px solid #F5B7B1 ;
    margin-bottom: 20px;
}
.contenedor-imagenes{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}
