*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    font-family: 'Times New Roman', Times, serif; /*fondo de color */
    background-color: white;
}
h1{
    position: absolute; /*titulo principal dulce sabor*/
    text-align: center;
    height: 0%;
    width: 99%;
    color: white;
}
.buscar{ /*barra de buscar*/
    position: absolute;
    padding: 5px;
}
.buscar input{ /*barra de buscar*/
    width: 240px;
    height:20px;
    padding: 0 20px;
    font-size: 18px;
    color: pink;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;

}
header{ /*haciendo encabezado de pagina*/
    width: 100%;
    height: 50px;
    background: #F5B7B1;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 100;
}   
.parent2{ /*definiendo parent de los laterales*/
    display: flex;
    background-color: white;
    justify-content: center;
}
.footer{
    margin-top: -100px;
    margin-bottom: -100px;
}
.container__text{ 
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    background: white;
    
    
}
.text__father{
    margin: 20px;
    perspective: 1000px;
    background:  white;
}
.text__father:hover .text{
    transform: rotateY(180deg);
}
.text{
    width: 600px;
    height: 220px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 1000ms;
    background:   #F5B7B1;

}
.text__front{
    background-size: cover;
    background-position: center;
}